/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: Matt Parisano
   Date:   02/28/2025

   Filename: rb_validate.css

*/


/* Validation Styles */

